.footer {
    height: 100px;
    background: #00166e;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .footer-text {
        color: #f4f4f4;
        margin-left: 1.6rem;
        
        .footer-links {
            cursor: pointer;
            
            a {
                color: #ff6600;
                margin: 0 0.3rem;
                text-decoration: none;
                &:hover {
                    color: #f4f4f4;
                }
            }
        }
    }

    .footer-social-icons {
        margin-right: 2rem;
        i {
            color: #f4f4f4;
            font-size: 2rem;
            margin: 0 0.5rem;
        }
    }
}