.hero-image {
    height:840px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../img//Hero.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;

    .header-container {
        border-bottom: 1.5px solid #f4f4f4;
        width: 70%;
        display: flex;
        justify-content: center;

        .hero-header {
            font-size: 4rem;
            color: #f4f4f4;
        }
    }


}