nav {
    position: sticky;
    top: 0;
    background: #fff;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: top;
    height: 120px;
    padding: 1rem 1.6rem 0 0;
    
    .navLogo {
        width: 150px;
        height: 100px;
    }
    
    .navLinks {
        display: flex;
        
        .navItem {
            color: #444;
            list-style: none;
            cursor: pointer;
            font-size: 1.6rem;
            margin: 1.2rem;
            &:hover {
                color: #00166e;
            }
        }
        }

}